@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 62.5%;
    min-width: 350px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}
.wrapper {
    max-width: 100%;
    overflow: hidden;
}

/* ----- NAV -----*/

#navbar {
    background: var(--main-red);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 2rem;
}
.nav-link {
    text-decoration: none;
    display: block;
    padding: 2rem;
    color: var(--main-white);
    font-size: 2.2rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
}
.nav-item:hover {
    background: var(--main-blue);
}

/* ----- WELCOME-SECTION -----*/

#welcome-section {
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
}
.section-title,
.section-text {
    margin: 0;
    padding: 0;
}
.section-title {
    color: var(--main-white);
    font-size: 6rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.section-text {
    color: var(--main-red);
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 200;
}
